# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Streamlit temp files
.streamlit/

# OS files
.DS_Store

# IDE/editor settings
.vscode/